@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  overflow-x: hidden;
}
/* header, nav */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.head-conteiner {
  position: relative;
  max-width: 100vw;
  min-height: 20vh;
  max-height: 30vh;
  background: rgb(21, 1, 249);
  background: linear-gradient(
    90deg,
    rgba(21, 1, 249, 0.3) 0%,
    rgba(241, 206, 206, 1) 100%
  );
  padding: 0.5rem 1rem;
  clip-path: polygon(50% 60%, 100% 50%, 100% 0, 0 0, 0 50%);
  transition: all 0.7s ease-in-out;
}
img {
  width: 75px;
  height: 70px;
  margin-right: 4rem;
}

.head_hamburger-conteiner {
  cursor: pointer;
  transition: transform 1s ease-in-out;
}
a {
  text-decoration: none;
  color: rgb(21, 1, 249);
  font-weight: bold;
  text-transform: uppercase;
  font-family: sans-serif;
}
li {
  list-style: none;
}
.head_nav-li {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 1rem;
  line-height: 2rem;
  letter-spacing: 0.3rem;
  background-color: rgba(241, 206, 206, 1);
  height: 100vh;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.7s ease-in-out;
}
.nav-active {
  transform: translateX(0%);
}
.conteiner-active {
  transform: translateX(-30%) scaleX(0.6);
}
.head-text {
  font-size: 1.5rem;
  font-family: Corinthia, sans-serif;
  color: rgb(255, 0, 255);
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size: 1.32rem;
}
.head_nav-wrapper {
  margin-top: 0.5rem;
}
/* svg */
.line {
  display: inline;
  fill: none;
  stroke: rgba(21, 1, 249, 0.6);
  stroke-width: 2px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  border-radius: 10px;
}
path {
  stroke-dasharray: 25 50;
  stroke-dashoffset: 0;
}
.x #middle {
  opacity: 0;
  transform: translateX(100%);
}

.x #top,
.x #bottom {
  stroke-dashoffset: -45;
}
#top,
#bottom {
  transition: stroke-dashoffset 0.7s ease-in-out;
}

#middle {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
svg {
  cursor: pointer;
}
